import { GetStaticProps } from 'next';
import Head from 'next/head';

interface {{pascalCase name}}Props {
  // Add your props here
}

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <>
      <Head>
        <title>{{pascalCase name}} | LeafInk</title>
        <meta name="description" content="{{pascalCase name}} page" />
      </Head>

      <div className="min-h-screen p-8">
        <h1 className="text-4xl font-bold mb-8">{{pascalCase name}}</h1>
        {/* Add your page content here */}
      </div>
    </>
  );
}

// Uncomment if you need static props
// export const getStaticProps: GetStaticProps<{{pascalCase name}}Props> = async () => {
//   return {
//     props: {},
//   };
// };
